<%-include ./partials/navbar %>
<div class="hero-wrap" style="background-image: url('images/trela.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
           <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>About</span></p>
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">About Us</h1>
        </div>
      </div>
    </div>
  </div>

  
  <section class="ftco-section">
      <div class="container">
          <div class="row d-flex">
              <div class="col-md-6 d-flex ftco-animate">
                  <div class="img img-about align-self-stretch" style="background-image: url(images/myteam.jpg); width: 100%;"></div>
              </div>
              <div class="col-md-6 pl-md-5 ftco-animate">
                  <h2 class="mb-4">Who we Are</h2>
                  <p>We believe that climate change and pollution are as a result of our own negligence yet their effect is devastating. We are headquartered in Kisumu City, Nyamasaria area, opposite Butter Toast Bakery. We carry out proper disposal of waste water as well as train clients on better waste management. </p>
              </div>
          </div>
      </div>
  </section>

  <section class="ftco-counter ftco-intro ftco-intro-2" id="section-counter">
      <div class="container">
          <div class="row no-gutters">
              <div class="col-md-5 d-flex justify-content-center counter-wrap ftco-animate">
          <div class="block-18 color-1 align-items-stretch">
            <div class="text">
                <span>Objectives</span>
              
              <span>Our main objective is to restore our environment and reverse the devastating effects of pollution</span>
            </div>
          </div>
        </div>
        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
          <div class="block-18 color-2 align-items-stretch">
            <div class="text">
                <h3 class="mb-4">Vision</h3>
                <p>To provide knowledge and services to enable Kenyans to realize that proper sanitation & waste management is not a leisure activity but is a matter of choice or disease and even death.</p>
                
            </div>
          </div>
        </div>
        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
          <div class="block-18 color-3 align-items-stretch">
            <div class="text">
                <h3 class="mb-4">Values</h3>
                <p>
                <ol>
                    <li>Integrity</li> 
                    <li>Flexibility</li><li>Teamwork</li><li>Courage</li><li>Partnership</li><li>Quality</li> 
                </ol>  </p>

            </div>
          </div>
        </div>
          </div>
      </div>
  </section>

  <section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section ftco-animate text-center">
          <h2 class="mb-4">Water is Life</h2>
          <p>This is only true of fresh water. Once fresh water is used up, it is nolonger life. KAWAWAMA recycles all used water making it safe again.</p>
        </div>
      </div>

      <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Affordability & great customer service</h2>
            <p>Our rates are quite competitive but for this Month of June, we have reduced it unimaginably. We have the june offer of just Ksh. 1,500 per scepric tank / latrine. Take advantage before the offer ends.</p>
          </div>
        </div>

        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
              <h2 class="mb-4">Enough Capacity</h2>
              <p>We have enough sucker trucks to service our area of operation without clients waiting in line for days. We are able to respond within one day of lient placing order.</p>
            </div>
          </div>

          <div class="row justify-content-center mb-5 pb-3">
              <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Damage Control</h2>
                <p>For burst sewers like the above, we have enough expertise and equipment to drain it all up hygienically in no time.</p>
              </div>
            </div>

      <div class="row">
          <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
              <div class="staff">
                  <div class="d-flex mb-4">
                      <div class="img" style="background-image: url(images/benji.jpg);"></div>
                      <div class="info ml-4">
                          <h3><a href="teacher-single.html">Benjamin Odhiambo</a></h3>
                          <span class="position">Founder/Chairman</span>
                          <div class="text">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
              <div class="staff">
                  <div class="d-flex mb-4">
                      <div class="img" style="background-image: url(images/vin.jpg);"></div>
                      <div class="info ml-4">
                          <h3><a href="teacher-single.html">Vincent Oduor</a></h3>
                          <span class="position">Co-Founder</span>
                          <div class="text">

                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
              <div class="staff">
                  <div class="d-flex mb-4">
                      <div class="img" style="background-image: url(images/pato.jpg);"></div>
                      <div class="info ml-4">
                          <h3><a href="teacher-single.html">Patrick Nyatindo</a></h3>
                          <span class="position">ICT Consultant</span>
                          <div class="text">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </section>

  <%-include ./partials/footer %>