<%-include ./partials/navbar %>

<div class="hero-wrap" style="background-image: url('images/farm.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
           <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Event</span></p>
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Events</h1>
        </div>
      </div>
    </div>
  </div>

  
  <section class="ftco-section">
    <div class="container">
      <div class="row">
          <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
            <a href="#" class="block-20" style="background-image: url('images/meeting.jpg');">
            </a>
            <div class="text p-4 d-block">
                <div class="meta mb-3">
                <!-- <div><a href="#">Sep. 10, 2018</a></div> -->
                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
              </div>
              <h3 class="heading mb-4"><a href="#">Collaboration</a></h3>
              <p>Kawawama representatives attending a conference on the relocation of Kisumu Kachok dumpsite.</p>
            </div>
          </div>
        </div>
          <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
            <a href="#" class="block-20" style="background-image: url('images/volunteer.jpg');">
            </a>
            <div class="text p-4 d-block">
                <div class="meta mb-3">
                <!-- <div><a href="#">Sep. 10, 2018</a></div> -->
                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
              </div>
              <h3 class="heading mb-4"><a href="#">Partnerships</a></h3>
              <p>Kawawama staff taking visiting partner in field tour. We have partnership with local organizations as well as foreign partners</p>
            </div>
          </div>
        </div>        
        
        <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
            <a href="#" class="block-20" style="background-image: url('images/planting.jpg');">
            </a>
            <div class="text p-4 d-block">
                <div class="meta mb-3">
                <!-- <div><a href="#">Sep. 10, 2018</a></div> -->
                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
              </div>
              <h3 class="heading mb-4"><a href="#">Afforestation</a></h3>
              <p>Kenya Association of Waste Water Managers is in the forefront in environmental conservation efforts. This was a tree planting event on the beach of Lake Victoria.</p>
            </div>
          </div>
        </div>
    </div>
  </section>
  
<%-include ./partials/footer %>