
<%-include ./partials/navbar %>
  <div class="hero-wrap" style="background-image: url('images/lake.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
          <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">KENYA ASSOCIATION OF WASTE
            WATER MANAGERS</h1>



          <!-- <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="https://vimeo.com/45830194" class="btn btn-white btn-outline-white px-4 py-3 popup-vimeo"><span class="icon-play mr-2"></span>Watch Video</a></p> -->
        </div>
        <h2 style="padding: 40px; text-align: center; color: white;">Our members are drawn from across the country Kenya
          bringing together all practitioners of waste water managers.</h2>
      </div>

    </div>

  </div>


  <section class="ftco-counter ftco-intro" id="section-counter">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-5 d-flex justify-content-center counter-wrap ftco-animate">
          <div class="block-18 color-1 align-items-stretch">
            <div class="text">
              <span>Served Over</span>
              <strong class="number" data-number="784">0</strong>
              <span>Individuals</span>
            </div>
          </div>
        </div>
        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
          <div class="block-18 color-2 align-items-stretch">
            <div class="text">

              <p>We endeavour to bequeth a clean environment for our children. We believe that climate change and
                pollution are as a result of our own negligence yet their effect is devastating.</p>
            </div>
          </div>
        </div>
        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
          <div class="block-18 color-3 align-items-stretch">
            <div class="text">

              <p>We are headquartered in Kisumu City, Nyamasaria area, opposite Butter Toast Bakery. We carry out proper
                disposal of waste water as well as train clients on better waste management.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 d-flex services p-3 py-4 d-block">
            <div class="icon d-flex mb-3"><span class="flaticon-donation-1"></span></div>
            <div class="media-body pl-4">
              <h3 class="heading">Environmental Conservation</h3>
              <p>Kenya Association of Waste Water Managers is in the forefront in environmental conservation efforts. We
                plant trees on the beach of Lake Victoria.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 d-flex services p-3 py-4 d-block">
            <div class="icon d-flex mb-3"><span class="flaticon-charity"></span></div>
            <div class="media-body pl-4">
              <h3 class="heading">Partnerships</h3>
              <p>We have partnership with local organizations as well as foreign partners</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 d-flex services p-3 py-4 d-block">
            <div class="icon d-flex mb-3"><span class="flaticon-donation"></span></div>
            <div class="media-body pl-4">
              <h3 class="heading">Cost Effectiveness</h3>
              <p>We deliver services at very affordable rates.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="ftco-section bg-light">
    <div class="container-fluid">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-5 heading-section ftco-animate text-center">
          <h2 class="mb-4">Our Activities</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 ftco-animate">
          <div class="carousel-cause owl-carousel">

            <div class="item">
              <div class="cause-entry">
                <a href="#" class="img" style="background-image: url(images/dams.jpg);"></a>
                <div class="text p-3 p-md-4">
                  <h3><a href="#">Sewage Treatment</a></h3>
                  <p>We ensure proper disposal of sewage through the natural sewage treatment plant.</p>
                  <div class="progress custom-progress-success">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 28%" aria-valuenow="28"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>

                </div>
              </div>
            </div>
            <div class="item">
              <div class="cause-entry">
                <a href="#" class="img" style="background-image: url(images/community.jpg);"></a>
                <div class="text p-3 p-md-4">
                  <h3><a href="#">Engaging the Community</a></h3>
                  <p>Promotion of communty participation in hygiene and sanitation.</p>
                  <div class="progress custom-progress-success">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 28%" aria-valuenow="28"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="cause-entry">
                <a href="#" class="img" style="background-image: url(images/tkk.jpg);"></a>
                <div class="text p-3 p-md-4">
                  <h3><a href="#">Honey Sucking Services</a></h3>
                  <p>We provide honey sucking services at very low fees.</p>
                  <div class="progress custom-progress-success">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 28%" aria-valuenow="28"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="cause-entry">
                <a href="#" class="img" style="background-image: url(images/planting.jpg);"></a>
                <div class="text p-3 p-md-4">
                  <h3><a href="#">Afforestation</a></h3>
                  <p>We plant trees along Lake Victoria regions to promote envoronmental conservation.</p>
                  <div class="progress custom-progress-success">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 28%" aria-valuenow="28"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>



  <section class="ftco-gallery">
    <div class="d-md-flex">
      <a href="images/dams.jpg"
        class=" gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
        style="background-image: url(images/dams.jpg);">
        <div class="icon d-flex justify-content-center align-items-center">
          <div class="overlay">
            <h2 class="glr bord con undr">Sewage Treatment Plant</h2>
          </div>
        </div>
        
      </a>
      <a href="images/gas.jpg"
        class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
        style="background-image: url(images/gas.jpg);">
        <div class="icon d-flex justify-content-center align-items-center">
          <div class="overlay">
            <h2 class="glr bord con">Bio-Gas System</h2>
          </div>
        </div>
      </a>
      <a href="images/sun.jpg"
        class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
        style="background-image: url(images/sun.jpg);">
        <div class="icon d-flex justify-content-center align-items-center">
          <div class="overlay">
            <h2 class="glr bord con">Sunset</h2>
           </div>
	    		</div>
	    	</a>
	    	<a href=" images/base.jpg"
              class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
              style="background-image: url(images/base.jpg);">
              <div class="icon d-flex justify-content-center align-items-center">
                <div class="overlay">
                  <h2 class="glr bord con">Team Meeting</h2>
                </div>
              </div>
      </a>
    </div>
    <div class="d-md-flex">
      <a href="images/tkk.jpg"
        class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
        style="background-image: url(images/tkk.jpg);">
        <div class="icon d-flex justify-content-center align-items-center">
          <div class="overlay">
            <h2 class="glr bord con">Our Exhauster Truck</h2>
          </div>
        </div>
      </a>
      <a href="images/volunteer.jpg"
        class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
        style="background-image: url(images/volunteer.jpg);">
        <div class="icon d-flex justify-content-center align-items-center">
          <div class="overlay">
            <h2 class="glr bord con">Partners From Malawi</h2>
          </div>
        </div>
      </a>
      <a href="images/suck.jpg"
        class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
        style="background-image: url(images/suck.jpg);">
        <div class="icon d-flex justify-content-center align-items-center">
          <div class="overlay">
            <h2 class="glr bord con">Septic Emptying in Progress</h2>
          </div>
        </div>
      </a>
      <a href="images/planting.jpg"
        class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
        style="background-image: url(images/planting.jpg);">
        <div class="icon d-flex justify-content-center align-items-center">
          <div class="overlay">
            <h2 class="glr bord con">Tree Planting Session</h2>
          </div>
        </div>
      </a>
    </div>
  </section>

  <section class="ftco-section bg-light">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section ftco-animate text-center">
          <h2 class="mb-4">Our Latest Events</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 d-flex ftco-animate">
          <div class="blog-entry align-self-stretch">
            <a href="event.html" class="block-20" style="background-image: url('images/meeting.jpg');">
            </a>
            <div class="text p-4 d-block">
              <div class="meta mb-3">
              </div>
              <h3 class="heading mb-4"><a href="#">Collaboration</a></h3>
              <p>Kawawama representatives attending a conference on the relocation of Kisumu Kachok dumpsite.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex ftco-animate">
          <div class="blog-entry align-self-stretch">
            <a href="event.html" class="block-20" style="background-image: url('images/volunteer.jpg');">
            </a>
            <div class="text p-4 d-block">
              <div class="meta mb-3">
              </div>
              <h3 class="heading mb-4"><a href="#">Partnerships:</a></h3>
              <p>Kawawama staff taking visiting partner in field tour. We have partnership with local organizations as
                well as foreign partners</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex ftco-animate">
          <div class="blog-entry align-self-stretch">
            <a href="event.html" class="block-20" style="background-image: url('images/planting.jpg');">
            </a>
            <div class="text p-4 d-block">
              <div class="meta mb-3">
              </div>
              <h3 class="heading mb-4"><a href="#">Afforestation</a></h3>
              <p>Kenya Association of Waste Water Managers is in the forefront in environmental conservation efforts.
                This was a tree planting event on the beach of Lake Victoria.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%-include ./partials/footer %>